.background {
  background-color: #FFE53B;
  background-image: linear-gradient(100deg, #ff933b 0%, #FF2525 74%);
  height: 100%;
}

.card {
  background-color: #d85307;
  border: none;
  cursor: pointer;
}
