<div class="bgWallpaper d-flex text-center">

  <div class="m-auto">

    <form class="container" #form="ngForm" (ngSubmit)="registra(form)">

      <h3 class="text-white my-4">Crea subito un account qui!</h3>

      <div>

        <input type="text" class="form-control" name="nome" placeholder="Nome" required ngModel id="nome"
          />

        <input type="text" class="form-control" name="cognome" placeholder="Cognome" required ngModel id="cognome"
          />

        <input type="email" name="email" id="email" class="form-control" placeholder="e-mail" required ngModel/>

        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required
          ngModel/>

        </div>

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-4">
          Registrati
        </button>

        <div class="bottomSection">

          <p>
            Hai già un account?
            <a class="nav-link registrati" [routerLink]="['/']" routerLinkActive="active">Accedi</a>
          </p>

        </div>

      </form>
  </div>
</div>
