<div class="container-fluid">

  <div class="container">

    <div class="input-group my-5">

      <input type="text" class="form-control" placeholder="Add new task" aria-label="Add new task"
        aria-describedby="button-addon2" [(ngModel)]="newTask">

      <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="createTask(newTask)"><i
          class="bi bi-patch-plus-fill mx-2"></i>Add new task
      </button>

    </div>

    <div *ngIf="loading else loaded">
      <h3>I'm loading the tasks</h3>
    </div>

    <ng-template #loaded>

      <div *ngIf="this.toDoList.length === 0 else table" >
        <h3>Opps, there's no tasks to complete</h3>
      </div>

      <ng-template #table>

        <table class="table table-dark table-hover mt-5">

          <thead>

            <tr>
              <th scope="col">N°</th>
              <th scope="col">Task</th>
              <th scope="col">State</th>
              <th scope="col">Edit</th>
            </tr>

          </thead>

          <tbody *ngFor="let task of toDoList">

            <tr *ngIf="!task.completed">

              <th scope="row">{{ task.id }}</th>

              <td> {{ task.title }} </td>

              <td> To complete </td>

              <td>
                <div class="d-flex justify-content-center">

                  <div class="me-2">
                    <button class="btn btn-md btn-success rounded-pill">
                      <i class="bi bi-check2-square" (click)="completedTask(task)"></i>
                    </button>
                  </div>

                  <div class="ms-2">
                    <button class="btn btn-md btn-danger rounded-pill" (click)="eliminateTask(task)">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>

        <button class="btn btn-outline-danger mt-5" type="button" (click)="resetList()">
          Reset list
        </button>

      </ng-template>
    </ng-template>

  </div>
</div>
