@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, rgb(83, 176, 108), rgb(45, 82, 231));
    font-size: 1.2em;
}

nav p {
    background-color: white;
    padding: 12px;
    font-weight: 500;

}

article {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

article video {
    width: 100%;
}


#logo {
    margin-top: 1em;
    width: 15em;
}

h1 {
    font-size: 2rem;
    font-family: serif;
}

figcaption {
    font-family: serif;
    text-align: center;
}

#featured {
    border-left: solid 2px yellow;
}

#featured p {
    margin: 0;
}

form {
    text-align: center;
}